# Latex ignores
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# Python and stuff

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Those horrible DS_Store-files
*.DS_Store

# Screenshots and zips from ktn
ktn/oving*/screenshots/
ktn/oving*/*.zip

# Intellij
*.idea
*out/
*.iml
*bin/
*.settings/
*.classpath/
*.project/
*.metadata/

# Lucene index-files
ir/oving3/java/index/
ir/oving4/index/
ir/oving4/images/

